body {
    background-color: darkblue;
}
h1.principal {
color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: underline;
text-decoration-color: red;
text-decoration-style: dotted;
margin-left: 10px;
text-align: left;
}
p.principal {
    color: rgba(255, 255, 255, 0.932);
    border: solid rgba(255, 255, 255, 0.932);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
    padding: 20px;
    margin-bottom: 30px ;
}

h1.destaque {
color: yellow;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: underline;
text-decoration-style: double;
text-decoration-color: #3ff;
text-decoration-thickness: 1%;
margin-left: 10px;
text-align: left;

}

p.destaque {
    background-color: black;
    color: ghostwhite;
    border: solid ghostwhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    padding: 20px;
}