body {
    background-color: gray;
}
h3 {
color: blue;
text-decoration: underline;
margin-left: 15px;
}
div.lista {
    margin-left: 10px;
    margin-right: 1000px;
    border: solid red;
    background-color: beige;
}
p {
    padding-left: 10px;
}
pre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}